a {
  	color: #000000;
  	text-decoration: none;
}
body {
	margin: 0;
	font-family: OpenSans;
}
@font-face { 
  font-family: OpenSans; 
  src: url("fonts/OpenSans-Regular.woff"); 
  font-weight: 400; 
  font-style: normal; 
} 
@font-face { 
  font-family: OpenSans; 
  src: url("fonts/OpenSans-Bold.woff"); 
  font-weight: 700; 
  font-style: normal;
}

/*.............................header..........................*/

.header {
	position: relative;
  	background-color: #0a0e34;
  	box-sizing: border-box;
 	padding-right: 20px;
	padding-left: 20px;
	padding-top: 33px;
	padding-bottom: 84px;
	
 }
 .header::before {
	content: ""; 
	background-image: url("img/football_767.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover; 
 	position: absolute;
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0;
  	opacity: 0.1;
 }
.surface {
	display: flex;
	justify-content: center;
}
.header-logo-text {
	width: 133px;
	fill: #ffffff;
}
.title {
	margin-top: 108px;
	display: flex;
	flex-direction: column;
	padding: 0px;

	max-width: 1530px;
	margin-right: auto;
	margin-left: auto;

}
.title-1 {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-right: auto;
}
.title-2 {
	/*text-align: right;*/
	margin-left: 13.75%;
}
.header-label {
	margin-top: 22px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 28px;
    font-weight: bold;
  	color: #ffffff;
  	line-height: 31px;
}
.button-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 85px;
	align-items: center;
	justify-content: center;
}
.header-logo {
	width: 23px;
	fill: #ffffff;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 24px;
	background-color: #5e42b0;
	border: 1px solid #5e42b0;
	border-radius: 17.5px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1;
}
.button:nth-child(n+2) {
	margin-top: 14px;
}
.button_text {
	text-transform: uppercase;
	font-size: 8px;
    font-weight: bold;
  	color: #ffffff;
  	width: 85px;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	margin-left: 7px;
}
.button_text_item {
	font-weight: 400;
}

/*.............................main-1..........................*/


.athlets {
	padding-top: 24px;
}
.players {
	padding-top: 24px;
}
.heading-categories-athlets {
	font-size: 50px;
	font-weight: bold;
	color: #e7e7e7;
	text-transform: uppercase;
	position: relative;
	margin-block-start: 0;
	line-height: 35px;
	/*margin-right: 20px;*/
	padding-bottom: 250px;
}
.heading-categories-athlets::after {
	content: ""; 
	position: absolute;
	background-image: url("img/footballer_192.png");
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	top: 55px; 
  	left: 0; 
  	right: 0; 
  	bottom: 0;
  	width: 192px;
  	height: 281px;
  	margin-left: 21.5%;
}
.heading-categories-players {
	font-size: 50px;
	font-weight: bold;
	color: #e7e7e7;
	text-transform: uppercase;
	position: relative;
	padding-top: 0px;
	margin-top: 0px;
	line-height: 35px;
	padding-bottom: 250px;
	width: 100%;
	box-sizing: border-box;
}
.heading-categories-players::after {
	content: ""; 
	position: absolute;
	background-image: url("img/basketballer_302.png");
	background-repeat: no-repeat;
  	background-size: cover;
  	top: 59px; 
  	left: 2.5%; 
  	right: 2.5%;
  	bottom: 0;
  	width: 302px;
  	height: 248px;
}
.number-01, .number-02, .number-03{
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 14px;
}
.number-01::after, .number-02::after { 
	content: ""; 
	position: absolute;
	background-color: #5e42b0;
	width: 17px;
	height: 4px;
	top: 15px; 
	left: -1px;
	border-radius: 2px;
} 
.number-03::after { 
    content: ""; 
    position: absolute;
    background-color: #ffffff;
    width: 15px;
    height: 4px;
    top: 17px; 
    left: 0px;
    border-radius: 2px;
} 
.number-03-players{
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #8765dd;
}
.number-03-players::after { 
	content: ""; 
    position: absolute;
    background-color: #ffffff;
	width: 15px;
	height: 4px;
	top: 17px; 
	left: 0px;
	border-radius: 2px;
} 

.section {
	padding-left: 20px;
	padding-right: 20px;
	margin-block-end: 0;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}


.heading-athlets, .heading-players {
	margin: 0px 0px 0px 8px;
	font-size: 23px;
	font-weight: bold;
	color: #c1c1c1;
	text-transform: uppercase;
	line-height: 17px;



	position: absolute;
	top: 0;
	padding-left: 20px;
}


/*.section-heading-athlets, .section-heading-players {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	vertical-align: top;
}*/


.section-heading-athlets, .section-heading-players {
	position: relative;
	
	
}

.section-athlets, .section-players {
	padding-top: 58px;
	padding-bottom: 40px;
}
.text {
	padding-top: 24px;
	line-height: 18px;
	letter-spacing: 0.5px;
}











.section-color-01 {
	padding-top: 20px;
	background-color: #fafafa;
	
}
.section-color-02 {
	background-color: #f5f4f9;
	
}
.section-color-03 {
	background-color: #5e42b0;
	color: #c1c1c1;
}
.section-color-04 {
	background-color: #090c35;
	color: #c1c1c1;
}


/*.............................main-2..........................*/


.be-active, .find-contact, .work-it {
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
}
.img {
	display: block;
	width: 100%;
}
.active-picture {
	width: 100%;
}

.picture-container {
	position: relative;
}
.number-container {
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 20px;
	bottom: -12px;
}
.number{
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}
.number::after { 
  	content: ""; 
 	position: absolute;
	background-color: #8f7bc8;
	width: 16px;
	height: 4px;
	top: 17px; 
	left: 0px;
	border-radius: 2px;
} 
.text-container {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}
.text-container-work-it {
	padding-bottom: 70px;
}
.text-container-heading {
	font-size: 28px;
	font-weight: bold;
	color: #e7e7e7;
	text-transform: uppercase;
	position: relative;
	margin-top: 24px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

/*.............................footer..........................*/


.footer {
	position: relative;
	background-color: #0a0e34;
 	box-sizing: border-box;
 	padding-right: 20px;
	padding-left: 20px;
	padding-top: 99px;
	padding-bottom: 10px;

}
 .footer::after {
	content: ""; 
	background-image: url("img/game_767.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
 	position: absolute;
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0;
  	opacity: 0.1;
 }

.surface-icon {
	width: 72px;
	padding: 12px;
	background-color: #6d4ec9;
	border-radius: 12px;
	box-sizing: border-box;
	z-index: 1;
}
.surface-logo {
	fill: #ffffff;
}
.title-footer {
	margin-top: 47px;
	display: flex;
	flex-direction: column;
	padding: 0px;
	align-items: center;
}
.title-footer-1{
	text-transform: uppercase;
	font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
}
.title-footer-2 {
	text-transform: uppercase;
	font-size: 14px;
    font-weight: 400;
    color: #9b8ec1;
    margin: 0px;
}
.surface-footer {
	display: flex;
	justify-content: center;;
}
.button-container-footer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 72px;
	margin-bottom: 82px;
	align-items: center;
	justify-content: center;
}
.icon-and-title {
	display: flex;
	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	box-sizing: border-box;
}

/*.............................768px..........................*/


@media (min-width: 701px) and (max-width: 900px) {

/*............................header.600px..........................*/

	.header {
		padding-top: 38px;
		padding-bottom: 92px;
	}
	.header::before {
	 	background-image: url("img/football_1280.jpg");
	}
	.title {
		margin-top: 168px;
		margin-left: 62px;
		margin-right: 62px;
	}
	.title-2 {
		margin-left: 18%;
	}
	.header-logo-text {
		width: 205px;
	}
	.header-label {
		font-size: 64px;
		letter-spacing: 3px;
		line-height: 76px;
		margin-top: 0px;
	}

	.header-logo {
		width: 41px;
		height: 45px;
	}
	.button-container {
		margin-top: 300px;
	}
	.button {
		width: 310px;
		height: 77px;
		box-sizing: border-box;
		border-radius: 38.5px;
	}
	.button:nth-child(n+2) {
		margin-left: 31px;
		margin-top: 0px;
	}
	.button_text {
		font-size: 14px;
	  	width: 140px;
	  	margin-left: 27px;
	}

/*............................main-1.600px..........................*/

	.athlets {
		padding-top: 84px;
	}
	.players {
		padding-top: 84px;
	}
	.heading-categories-athlets {
		font-size: 80px;
		line-height: 54px;
		padding-bottom: 70px;
		margin-bottom: 0px;
		padding-left: 292px;
		padding-right: 32px;
	}
	.heading-categories-athlets::after {
		background-image: url("img/footballer_497.png");
  		top: 12px; 
  		width: 497px;
  		height: 699px;
  		margin-left: -162px;
	}
	.heading-categories-players {
		font-size: 80px;
		padding-bottom: 70px;
		padding-left: 30px;
		line-height: 54px;
		margin-bottom: 0px;
	}
	.heading-categories-players::after {
		background-image: url("img/basketballer_436.png");
	  	top: -48px; 
	  	left: auto; 
	  	right: 0px; 
	  	bottom: 0;
 	 	background-position: right;
  		width: 690px;
  		height: 565px;
		background-size: contain;
	}
	.number-01, .number-02, .number-03{
		font-size: 18px;
		line-height: 5px;
	}
	.number-01::after, .number-02::after { 
		width: 19px;
		height: 5px;
		left: 0px;
		top: 16px; 
		border-radius: 2.5px;
	} 
	.number-03::after { 
    	width: 19px;
    	height: 5px;
    	top: 16px; 
    	left: 0px;
    	border-radius: 2.5px;
	} 
	.heading {
		font-size: 32px;
		line-height: 25px;
		margin-bottom: 28px;
	}
	.heading-athlets {
		font-size: 32px;
		font-weight: 700;
		padding-bottom: 30px;
		letter-spacing: 2px;
	}
	.heading-players {
		font-size: 32px;
		font-weight: 700;
		padding-bottom: 30px;
		letter-spacing: 2px;
	}
	.text {
		font-size: 16px;
		line-height: 28px;
	}
	.text-players {
		font-size: 16px;
		line-height: 26px;
	}
	.text-18 {
		font-size: 18px; 
	}
	.section-athlets {
		padding-left: 292px;
		padding-right: 32px;
		padding-top: 42px;
		padding-bottom: 34px;
	}
	.section-players {
		padding-top: 60px;
		padding-left: 32px;
		padding-right: 340px;
		padding-bottom: 36px;
	}
	.section-players-02 {
		padding-bottom: 24px;
		padding-top: 46px;
	}
	.section-color-01 {
		background-color: #ffffff;
		padding-top: 0px;
	}

/*............................main-2.600px..........................*/

	.number-container {
		width: 116px;
		height: 116px;
		left: 33px;
		bottom: -28px;
	}
	.number{
		font-size: 24px;
	}
	.number::after { 
		width: 25px;
		height: 5px;
		top: 32px; 
		left: 0px;
		border-radius: 2.5px;
	} 
	.text-container {
		padding-left: 32px;
		padding-bottom: 98px;
	}
	.text-container-heading {
		font-size: 80px;
		margin-top: 0px;
		padding-top: 70px;
		padding-bottom: 18px;
		line-height: 90px;
	}
	.text-24 {
		font-size: 24px;
		letter-spacing: 2px;
	}
	.text-container-work-it {
		padding-bottom: 110px;
	}

/*............................footer.600px..........................*/

	.footer {
 		align-items: center;
 		justify-content: center;
		padding-bottom: 24px;
		padding-top: 132px;
	}
 	.footer::after {
		background-image: url("img/game_1280.jpg");
 	}
	.surface-icon {
		width: 130px;
		padding: 25px;
		border-radius: 31px;
	}
	.title-footer {
		margin-top: 0px;
		margin-left: 31px;
		align-items: center;
		padding-top: 94px;
	}
	.title-footer-1{
		font-size: 80px;
    	line-height: 40px;
    	padding-bottom: 28px;
	}
	.title-footer-2 {
		font-size: 36px;
    	color: #a496ca;
	}
	.button-container-footer {
		margin-top: 280px;
		margin-bottom: 55px;
	}
}

/*............................1920px..........................*/

@media (min-width: 1201px)/* and (max-width: 1920px)*/ {

/*............................header.1000px..........................*/

	.header {
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 43px;
		padding-bottom: 112px;
	}
	.header::before {
		background-image: url("img/football_1920.jpg");
	 }
	.header-logo-text {
		width: 191px;
	}
	.header-label {
		font-size: 90px;
		line-height: 80px;
		margin-top: 16px;
		letter-spacing: 4px;
	}
	.header-logo {
		width: 40px;
		height: 50px;
	}
	.title {
		margin-top: 268px;
	}
	.title-2 {
		text-align: right;
	}
	.button-container {
		margin-top: 220px;
	}
	.button {
		width: 310px;
		height: 71px;
		box-sizing: border-box;
		border-radius: 38.5px;
	}
	.button:nth-child(n+2) {
		margin-left: 31px;
		margin-top: 0px;
	}
	.button_text {
		font-size: 14px;
	  	width: 140px;
	  	margin-left: 27px;
	}

/*.....................main-1.1000px......................*/

	.athlets {
		padding-top: 126px;
	}
	.heading-categories-athlets {
		font-size: 80px;
		margin-bottom: 60px;
		padding-left: 52.5%;
		padding-right: 33px;
		padding-bottom: 0px;
	}
	.heading-categories-athlets::after {
		background-image: url("img/footballer_566.png");
  		top: -96px; 
  		width: 29.58vw;
  		height: 47.3vw;
  		max-width: 568px;
  		max-height: 908px;
  		
  		/*margin-right: 51%;*/
  		/*transform: translate(-35%);*/
  		margin-left: 20%;
	}
	.number-01, .number-02, .number-03{
		font-size: 18px;
	}
	.number-01::after, .number-02::after { 
		width: 19px;
		height: 5px;
		top: 22px; 
		border-radius: 2.5px;
	} 
	.number-03::after { 
    	width: 19px;
    	height: 5px;
    	top: 22px; 
    	left: 0px;
    	border-radius: 2.5px;
	} 



	.heading-athlets, .heading-players {
		font-size: 36px;
		padding-bottom: 26px;
	}
	.text {
		font-size: 20px;
		line-height: 28px;
		max-width: 900px;
	}
	.text-18 {
		font-size: 18px; 
	}
	.section {
		padding-left: 52.5%;
		padding-right: 10.42%;
	}
	.section-color-01 {
		padding-top: 70px;
	}
	.section-athlets, .section-players {
		padding-bottom: 60px;
	}
	.section-players {
		padding-top: 70px;
		padding-left: 10%;
		padding-right: 51.2%;
		padding-bottom: 66px;
	}
	.section-players-02 {
		/*padding-bottom: 96px;
		padding-top: 62px;*/
	}
	.section-players-03 {
		/*padding-bottom: 56px;*/
	}
	.heading-categories-players {
		font-size: 80px;
		margin-bottom: 60px;
		padding-bottom: 0px;
		padding-top: 84px;
		padding-left: 10%;
		margin-left: 0;
		padding-top: 98px;
		padding-right: 51.2%;
	}
	.heading-categories-players::after {
		background-image: url("img/basketballer_991.png");
	  	top: 0; 
	  	left: auto; 
	  	right: 6.5%;
	  	bottom: 0;
 	 	background-position: right;
 	 	/*margin-left: 41.9%;*/
 	 	width: 51.6vw;
  		max-width: 991px;
  		max-height: 815px;
  		height: 42.4vw;
		background-size: contain;
		margin: 0;
	}

		
/*............................main-2.1000px..........................*/
	
	.be-active, .find-contact, .work-it {
		flex-direction: row;

	}
	.find-contact {
		flex-direction: row-reverse;
	}
	.picture-container {
		max-width: 50%;
	}
	.active-picture {
		background-size: cover;
		max-width: 100%;
		height: 100%;
	}
	.number-container {
		width: 168px;
		height: 155px;
		position: absolute;
		top: calc(50% - 155px/2);
		right: calc(0% - 155px/2);
		/*right: -84px;*/
		left: auto;
		bottom: auto;
	}
	.number-container-desktop {
		width: 168px;
		height: 155px;
		position: absolute;
		top: calc(50% - 155px/2);
		right: calc(100% - 155px/2);
		left: auto;
		bottom: auto;
	}
	.number{
		font-size: 24px;
	}
	.number::after { 
		width: 25px;
		height: 5px;
		top: 32px; 
		left: 0px;
		border-radius: 2.5px;
	} 
	.text-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 122px;
		padding-top: 90px;

	}
	.text-container-desktop {
		padding-right: 122px;
	}
	.text-container-heading {
		font-size: 80px;
		margin-top: 55px;
		padding-bottom: 38px;
	}
	.text-24 {
		font-size: 24px;
	}

/*............................footer.1000px..........................*/

	.footer {
 		align-items: center;
 		justify-content: center;
 		padding-top: 229px;
		padding-bottom: 52px;
	}
 	.footer::after {
				background-image: url("img/game_1920.jpg");
 	}
	.icon-and-title {
		flex-direction: row;
	}
	.surface-icon {
		width: 130px;
		padding: 25px;
		border-radius: 31px;
	}
	.title-footer {
		margin-top: 0px;
		margin-left: 31px;
		align-items: flex-start;
		padding-top: 22px;
	}
	.title-footer-1{
		font-size: 80px;
    	line-height: 40px;
    	padding-bottom: 22px;
	}
	.title-footer-2 {
		font-size: 30px;
    	color: #a496ca;
	}
	.button-container-footer {
		margin-top: 151px;
		margin-bottom: 262px;
	}
}




/*.................Промежуточные медиа..................*/





/*............................500-700px..........................*/

@media (min-width: 500px) and (max-width: 700px) {
	.header::before {
	 	background-image: url("img/football_1280.jpg");
	 }
	.header-logo-text {
		width: 205px;
	}
	.title-2 {
		text-align: right;
	}
	.header-label {
		font-size: 35px;
	}
	.header-logo {
		width: 41px;
		height: 45px;
	}
	.button-container {
		display: block;
	}
	.button {
		margin-left: auto;
		margin-right: auto;
		width: 310px;
		height: 77px;
		box-sizing: border-box;
		border-radius: 38.5px;
	}
	.button:nth-child(n+2) {
		margin-top: 31px;
	}
	.button_text {
		font-size: 14px;
	  	width: 140px;
	  	margin-left: 27px;
	}
	.button-container-footer {
		display: block;
	}
}


/*............................900-1200px..........................*/

@media (min-width: 901px) and (max-width: 1200px) {
	
/*.....................header.600px......................*/


	.header::before {
	 	background-image: url("img/football_1280.jpg");
	 }
	.header-logo-text {
		width: 205px;
	}
	.header-label {
		font-size: 64px;
	}
	.header-logo {
		width: 41px;
		height: 45px;
	}
	.button {
		width: 310px;
		height: 77px;
		box-sizing: border-box;
		border-radius: 38.5px;
	}
	.button:nth-child(n+2) {
		margin-left: 31px;
		margin-top: 0px;
	}
	.button_text {
		font-size: 14px;
	  	width: 140px;
	  	margin-left: 27px;
	}


/*.....................main-1.1000px......................*/


	.athlets {
		padding-top: 116px;
	}
	.heading-categories-athlets {
		font-size: 80px;
		margin-bottom: 60px;
		padding-left: 52.5%;
		padding-right: 33px;
		padding-bottom: 0px;
	}
	.heading-categories-athlets::after {
		background-image: url("img/footballer_566.png");
  		top: -89px; 
  		width: 29.58vw;
  		/*width: 568px;
  		height: 908px;*/
  		height: 47.3vw;
  		/*margin-right: 51%;*/
  		/*transform: translate(-35%);*/
  		margin-left: 20%;
	}
	.section {
		padding-top: 60px;
		padding-left: 52.5%;
		padding-right: 10.42%;
	}
	.section-players {
		padding-top: 60px;
		padding-left: 10%;
		padding-right: 51.2%;
	}
	.heading-categories-players {
		font-size: 80px;
		margin-bottom: 60px;
		padding-bottom: 0px;
		
		padding-left: 10%;
		margin-left: 0;
		padding-top: 60px;
		padding-left: 10%;
		padding-right: 51.2%;
	}
	.heading-categories-players::after {
		background-image: url("img/basketballer_991.png");
	  	top: 0; 
	  	left: auto; 
	  	right: 6.5%;
	  	bottom: 0;
 	 	background-position: right;
 	 	/*margin-left: 41.9%;*/
 	 	width: 51.6vw;
  		/*width: 991px;*/
  		/*height: 815px;*/
  		height: 42.4vw;
		background-size: contain;
		margin: 0;
	}
	.number-01, .number-02, .number-03{
		font-size: 18px;
	}
	.number-01::after, .number-02::after { 
		width: 19px;
		height: 5px;
		top: 22px; 
		border-radius: 2.5px;
	} 
	.number-03::after { 
    	width: 19px;
    	height: 5px;
    	top: 22px; 
    	left: 0px;
    	border-radius: 2.5px;
	} 
	.heading {
		font-size: 36px;
	}
	.text {
		font-size: 20px;
		line-height: 28px;
	}
	.text-18 {
		font-size: 18px; 
	}



/*............................main-2.600px..........................*/

	.number-container {
		width: 116px;
		height: 116px;
		left: 33px;
		bottom: -36px;
	}
	.number{
		font-size: 24px;
	}
	.number::after { 
		width: 25px;
		height: 5px;
		top: 32px; 
		left: 0px;
		border-radius: 2.5px;
	} 
	.text-container {
		padding-left: 32px;
	}
	.text-container-heading {
		font-size: 80px;

		margin-top: 55px;
		padding-bottom: 38px;
	}
	.text-24 {
		font-size: 24px;
	}
	.picture-container {
		display: flex;
		width: 100%;
	}
	.active-picture {
		/*min-width: 100%;
		max-width: 100%;*/
		background-size: 100% auto;
		background-position: center;

	}





/*............................footer.600px..........................*/

	.footer {
 		align-items: center;
 		justify-content: center;
		padding-bottom: 24px;
	}
 	.footer::after {
		background-image: url("img/game_1280.jpg");
 	}
	.surface-icon {
		width: 130px;
		padding: 25px;
		border-radius: 31px;
	}
	.title-footer {
		margin-top: 0px;
		margin-left: 31px;
		align-items: center;
		padding-top: 83px;
	}
	.title-footer-1{
		font-size: 80px;
    	line-height: 40px;
    	padding-bottom: 22px;
	}
	.title-footer-2 {
		font-size: 36px;
    	color: #a496ca;
	}
	.button-container-footer {
		margin-top: 288px;
		margin-bottom: 55px;
	}


}




